<div class="panel panel-primary" *ngFor="let employee of employees">
  <div class="panel-heading">
    <div class="panel-title">
      {{employee.name}}
    </div>

  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-4">
          <img class="imagClass" [src]="employee.photoPath">

        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4">
              gender

            </div>
            <div class="col-xs-4">
              :{{employee.gender}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Email

            </div>
            <div class="col-xs-4">
              :{{employee.email}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              depatement

            </div>
            <div class="col-xs-4">
              :{{employee.department}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              PhoneNumber

            </div>
            <div class="col-xs-4">
              :{{employee.phoneNumber}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              dateOfBirth

            </div>
            <div class="col-xs-4">
              :{{employee.dateOfBirth}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              Etat:

            </div>
            <div class="col-xs-4">
              :{{employee.isActive}}

            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              contactPreference

            </div>
            <div class="col-xs-4">
              :{{employee.contactPreference}}

            </div>
          </div>

      </div>



      </div>

    </div>

  </div>

</div>
