<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
  <div class="panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        Create Employee

      </div>

    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched"
           [class.has-success]="name.valid">
        <label for="name" class="control-label">Full Name:</label>

        <input required id="name" type="text" class="form-control" name="fullname" [(ngModel)]="employee.name"
               #name="ngModel">
        <span class="help-block" *ngIf="name.invalid">
    Full Name is required
  </span>
      </div>



      <div class="form-group">
        <label for="email">Email:</label>
        <input required type="text" id="email" class="form-control" [(ngModel)]="employee.email" name="email">

      </div>
      <div class="form-group">
        <label for="phoneNumber">phoneNumber:</label>
        <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="employee.phoneNumber" name="phoneNumber">

      </div>
      <div class="form-group">
        Gender:
        <div class="form-control">

          <label class="radio-inline">
            <input type="radio" name="gender" value="male" [(ngModel)]="employee.gender">
            Male

          </label>
          <label class="radio-inline">
            <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender">
            Female

          </label>

        </div>

      </div>
      <div class="form-group">
        ContactPreferences:
        <div class="form-control">

          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="Phone" [(ngModel)]="employee.contactPreference">
            email

          </label>
          <label class="radio-inline">
            <input type="radio" value="email" name="contactPreference" [(ngModel)]="employee.contactPreference">
            PhoneNumber

          </label>

        </div>

      </div>

      <!-- checkbox -->
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" checked>
            IsActive
          </label>
        </div>

      </div>

      <!-- select option -->
      <div class="form-group">
        <label>Departement</label>
        <select class="form-control" [(ngModel)]="employee.department" name="departement">
          <option *ngFor="let dept of departements" [value]="dept.id">{{dept.name}}</option>


        </select>

      </div>

      <!--Datepicker-->
      <div class="form-group">
        <label for="phoneNumber">Date of Birth:</label>
        <input type="text" bsDatepicker [bsConfig]="bsConfig" class="form-control" [(ngModel)]="employee.dateOfBirth"
               name="dateOfBirth">

      </div>

      <!--Photo Path-->
      <div class="form-group">
        <label for="PhotoPath">Photo Path:</label>
        <input type="text" id="PhotoPath" class="form-control" [(ngModel)]="employee.photoPath" name="PhotoPath">

      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary"
                (click)="togglePreviewPhoto()">{{photoPreview ? "hide " : "show "}} Preview
        </button>

      </div>
      <div class="row" *ngIf="photoPreview">
        <div class="form-group col-lg-4">
          <img [src]="employee.photoPath">

        </div>
      </div>


    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
    </div>

  </div>
</form>
{{employeeForm.value | json}}
{{employee |json}}

