<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Create Employee

    </div>

  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="fullname">Full Name:</label>
      <input id="fullname" type="text" class="form-control" [(ngModel)]="fullName" name="fullName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email">

    </div>
    <div class="form-group">
      <label for="phoneNumber">phoneNumber:</label>
      <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber">

    </div>
    <div class="form-group">
      Gender:
      <div class="form-control">

        <label class="radio-inline">
          <input type="radio" name="gender" value="male" [(ngModel)]="gender">
          Male

        </label>
        <label class="radio-inline">
          <input type="radio" value="female" name="gender" [(ngModel)]="gender">
          Female

        </label>

      </div>

    </div>

  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>

</div>
</form>
{{employeeForm.value | json}}
