<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        Create Employee

      </div>

    </div>
    <div class="panel-body">
      <div [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid && name.touched"
           class="form-group">
        <label class="control-label" for="name">Full Name:</label>

        <input #name="ngModel" [(ngModel)]="employee.name" class="form-control" id="name" name="fullname" required
               type="text">
        <span *ngIf="name.invalid && name.touched" class="help-block">
    Full Name is required
  </span>
      </div>


      <div [class.has-error]="email.invalid" class="form-group">
        <label class="control-label" for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="employee.email" class="form-control" id="email"
               name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
               [required]="contactPreference.value=='email'" type="text">
        <span *ngIf="email.errors?.required && email.touched" class="help-block">
    Email is required
  </span>
        <span *ngIf="email.errors?.pattern && email.touched" class="help-block">
    Email is Invalid
  </span>
      </div>
      <div [class.has-error]="phoneNumber.invalid" class="form-group">
        <label class="control-label" for="email">Phone Number</label>
        <input #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber" class="form-control" id="phoneNumber"
               name="phoneNumber"
               [required]="contactPreference.value=='phone'" type="text">
        <span *ngIf="phoneNumber.invalid && phoneNumber.touched" class="help-block">
    phoneNumber is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="gender.invalid &&gender.touched">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="male" [(ngModel)]="employee.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="female" [(ngModel)]="employee.gender"> Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">
    Gender is required
  </span>
      </div>

      <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched">
        <label class="control-label">contactPreference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="contactPreference" required #contactPreference="ngModel"
                   value="phone" [(ngModel)]="employee.contactPreference"> Phone
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreference" required #contactPreference="ngModel"
                   value="email" [(ngModel)]="employee.contactPreference"> Email
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">
    contactPreference is required
  </span>
      </div>


      <!-- checkbox -->
      <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
        <div class="form-control control-label">
          <label class="checkbox-inline">
            <input [(ngModel)]="employee.isActive" #isActive="ngModel" [required]="employee.isActive==null" checked name="isActive" type="checkbox">
            IsActive
          </label>
        </div>

        <span class="help-block"*ngIf="isActive.touched && isActive.invalid">
          IsActive Requierd
        </span>
      </div>

      <!-- select option -->
      <div class="form-group"
           [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">Department</label>
        <select required #department="ngModel" name="department"
                [(ngModel)]="employee.department" id="department"
                class="form-control">
          <option [ngValue]="null">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>
        </select>
        <span class="help-block"
              *ngIf="department.touched && department.errors?.required">
    Department is required
  </span>
      </div>

      <!--Datepicker-->
      <div class="form-group">
        <label for="phoneNumber">Date of Birth:</label>
        <input [(ngModel)]="employee.dateOfBirth" [bsConfig]="bsConfig" bsDatepicker class="form-control" name="dateOfBirth"
               type="text">

      </div>

      <!--Photo Path-->
      <div class="form-group">
        <label for="PhotoPath">Photo Path:</label>
        <input [(ngModel)]="employee.photoPath" class="form-control" id="PhotoPath" name="PhotoPath" type="text">

      </div>
      <div class="form-group">
        <button (click)="togglePreviewPhoto()" class="btn btn-primary"
                type="button">{{photoPreview ? "hide " : "show "}} Preview
        </button>

      </div>
      <div *ngIf="photoPreview" class="form-group">
        <div class="form-group col-lg-4">
          <img [src]="employee.photoPath">

        </div>
      </div>


    </div>
    <div class="panel-footer">
      <button [disabled]="employeeForm.invalid" class="btn btn-primary" type="submit">Save</button>
    </div>

  </div>
</form>
{{employeeForm.value | json}}
{{employee |json}}
